<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zssq.dao.mapper.SequenceTeamMapper">
	<resultMap id="BaseResultMap" type="com.zssq.dao.pojo.SequenceTeam">
		<id column="id" property="id" jdbcType="BIGINT" />
	</resultMap>
	
	<insert id="insert" parameterType="com.zssq.dao.pojo.SequenceTeam" useGeneratedKeys="true" keyProperty="id">
		insert into sequence_team () values ()
	</insert>

</mapper>