<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zssq.dao.mapper.TeamMemberMapper">
	<resultMap id="BaseResultMap" type="com.zssq.dao.pojo.TeamMember">
		<id column="id" property="id" jdbcType="BIGINT" />
		<result column="team_member_code" property="teamMemberCode" jdbcType="VARCHAR" />
		<result column="team_code" property="teamCode" jdbcType="VARCHAR" />
		<result column="user_code" property="userCode" jdbcType="VARCHAR" />
		<result column="is_leader" property="isLeader" jdbcType="TINYINT" />
		<result column="create_time" property="createTime" jdbcType="BIGINT" />
	</resultMap>
	<sql id="Base_Column_List">
		id, team_member_code, team_code, user_code, is_leader,create_time
	</sql>
	
	<!-- 根据唯一标识查询 -->
	<select id="selectByCode" resultMap="BaseResultMap" parameterType="java.lang.String">
		select
			<include refid="Base_Column_List" />
		from 
			team_member
		where team_member_code = #{teamMemberCode,jdbcType=VARCHAR}
	</select>
	
	<!-- 根据班组code返回成员集合 -->
	<select id="selectByTeamCode" resultMap="BaseResultMap" parameterType="java.lang.String">
		select 
			<include refid="Base_Column_List" />
		from 
			team_member
		where team_code = #{teamCode,jdbcType=VARCHAR}
	</select>
	
	<!-- 根据班组code返回班组长code -->
	<select id="selectLeaderByTeamCode" resultType="java.lang.String" parameterType="java.lang.String">
		select 
			user_code
		from 
			team_member
		where team_code = #{teamCode,jdbcType=VARCHAR} and is_leader = '1'
	</select>
	
	<!-- 根据班组code,查询班组成员code -->
	<select id="selectUserCodeByTeamCode" resultType="java.lang.String" parameterType="java.lang.String">
		select 
			user_code
		from 
			team_member
		where team_code = #{teamCode,jdbcType=VARCHAR}
	</select>
	
	<!-- 动态插入 -->
	<insert id="insertSelective" parameterType="com.zssq.dao.pojo.TeamMember">
		insert into team_member
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="teamMemberCode != null">
				team_member_code,
			</if>
			<if test="teamCode != null">
				team_code,
			</if>
			<if test="userCode != null">
				user_code,
			</if>
			<if test="isLeader != null">
				is_leader,
			</if>
			<if test="createTime != null">
				create_time,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=BIGINT},
			</if>
			<if test="teamMemberCode != null">
				#{teamMemberCode,jdbcType=VARCHAR},
			</if>
			<if test="teamCode != null">
				#{teamCode,jdbcType=VARCHAR},
			</if>
			<if test="userCode != null">
				#{userCode,jdbcType=VARCHAR},
			</if>
			<if test="isLeader != null">
				#{isLeader,jdbcType=TINYINT},
			</if>
			<if test="createTime != null">
				#{createTime,jdbcType=BIGINT},
			</if>
		</trim>
	</insert>
	
	<!-- 批量变更班组长 -->
	<update id="updateByCodeSelective" parameterType="com.zssq.dao.pojo.TeamMember">
		update team_member
		<set>
			<if test="isLeader != null">
				is_leader = #{isLeader,jdbcType=TINYINT},
			</if>
		</set>
		where team_member_code in
		<foreach collection="teamMemberCodes" index="index" item="item" separator="," open="(" close=")">
			#{item,jdbcType=VARCHAR}
		</foreach>
	</update>
	
	<!-- 批量插入 -->
	<insert id="batchInsert" useGeneratedKeys="true" parameterType="java.util.List">  
	   INSERT INTO team_member (
		  id,
		  team_member_code,
		  team_code,
		  user_code,
		  is_leader,
		  create_time
		) 
		VALUES 
	    <foreach collection="list" item="item" index="index" separator="," >  
	        (#{item.id,jdbcType=BIGINT}, 
	        #{item.teamMemberCode,jdbcType=VARCHAR},
	        #{item.teamCode,jdbcType=VARCHAR},
	        #{item.userCode,jdbcType=VARCHAR},
			#{item.isLeader,jdbcType=TINYINT},
			#{item.createTime,jdbcType=BIGINT})
	    </foreach>  
	</insert>
	
	<!-- 查询班组成员 -->
	<select id="selectPage" resultMap="BaseResultMap" parameterType="com.zssq.dao.pojo.TeamMember">
		select
			<include refid="Base_Column_List" />
		from 
			team_member
		where 1=1
		<if test="teamMemberCodes != null">
			and team_member_code in
			<foreach collection="teamMemberCodes" item="item" index="index" open="(" close=")" separator=",">
				#{item,jdbcType=VARCHAR}
			</foreach>
		</if>
		<if test="teamCode != null" >
	    	and team_code = #{teamCode,jdbcType=VARCHAR}
	    </if>
	    <if test="userCode != null" >
	    	and user_code = #{userCode,jdbcType=VARCHAR}
	    </if>
	    <if test="isLeader != null" >
	    	and is_leader = #{isLeader,jdbcType=TINYINT}
	    </if>
		order by is_leader desc,user_code
		<if test="limitStart != null and limitStart>=0" >
	      limit #{limitStart} , #{limitEnd}
	    </if>
	</select>
	<!-- 查询班组成员(总数) -->
	<select id="selectPageCount" resultType="java.lang.Integer" parameterType="com.zssq.dao.pojo.TeamMember">
		select 
			count(1)
		from 
			team_member
		where 1=1
		<if test="teamCode != null and teamCode != ''" >
	    	and team_code = #{teamCode,jdbcType=VARCHAR}
	    </if>
	   <if test="userCode != null" >
	    	and user_code = #{userCode,jdbcType=VARCHAR}
	    </if>
	    <if test="isLeader != null" >
	    	and is_leader = #{isLeader,jdbcType=TINYINT}
	    </if>
	</select>
	
	<!-- 根据唯一标识删除 -->
	<delete id="deleteByCode" parameterType="java.lang.String" >
		DELETE 
		FROM
		  team_member 
		WHERE team_member_code = #{teamMemberCode,jdbcType=VARCHAR} 
	</delete>
	
	<!-- 返回班组code -->
	<select id="selectTeamCode" parameterType="com.zssq.dao.pojo.TeamMember" resultType="java.lang.String">
		select team_code from team_member
		where is_leader = #{isLeader,jdbcType=TINYINT}
		  and user_code = #{userCode,jdbcType=VARCHAR} 
	</select>
	
	<!-- 拿前三个班组成员 -->
	<select id="selectTop3" parameterType="com.zssq.dao.pojo.TeamMember" resultType="java.lang.String">
		SELECT 
		  user_code 
		FROM
		  team_member 
		WHERE team_code = #{teamCode,jdbcType=VARCHAR} 
		ORDER BY is_leader DESC 
		LIMIT 0, 3 
	</select>
</mapper>