<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zssq.dao.mapper.UserMsgNoticeMapper" >
  <resultMap id="BaseResultMap" type="com.zssq.dao.pojo.UserMsgNotice" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="notice_code" property="noticeCode" jdbcType="VARCHAR" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="BIGINT" />
    <result column="is_delete" property="isDelete" jdbcType="INTEGER" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="user_code" property="userCode" jdbcType="VARCHAR" />
    <result column="org_code" property="orgCode" jdbcType="VARCHAR" />
    <result column="tenant_code" property="tenantCode" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="creat_user_code" property="creatUserCode" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, notice_code, title, create_time, is_delete, content, user_code, org_code, tenant_code, 
    type, creat_user_code
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from user_msg_notice
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from user_msg_notice
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zssq.dao.pojo.UserMsgNotice" >
    insert into user_msg_notice (id, notice_code, title, 
      create_time, is_delete, content, 
      user_code, org_code, tenant_code, 
      type, creat_user_code)
    values (#{id,jdbcType=INTEGER}, #{noticeCode,jdbcType=VARCHAR}, #{title,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=BIGINT}, #{isDelete,jdbcType=INTEGER}, #{content,jdbcType=VARCHAR}, 
      #{userCode,jdbcType=VARCHAR}, #{orgCode,jdbcType=VARCHAR}, #{tenantCode,jdbcType=VARCHAR}, 
      #{type,jdbcType=INTEGER}, #{creatUserCode,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zssq.dao.pojo.UserMsgNotice" >
    insert into user_msg_notice
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="noticeCode != null" >
        notice_code,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="isDelete != null" >
        is_delete,
      </if>
      <if test="content != null" >
        content,
      </if>
      <if test="userCode != null" >
        user_code,
      </if>
      <if test="orgCode != null" >
        org_code,
      </if>
      <if test="tenantCode != null" >
        tenant_code,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="creatUserCode != null" >
        creat_user_code,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="noticeCode != null" >
        #{noticeCode,jdbcType=VARCHAR},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=BIGINT},
      </if>
      <if test="isDelete != null" >
        #{isDelete,jdbcType=INTEGER},
      </if>
      <if test="content != null" >
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="userCode != null" >
        #{userCode,jdbcType=VARCHAR},
      </if>
      <if test="orgCode != null" >
        #{orgCode,jdbcType=VARCHAR},
      </if>
      <if test="tenantCode != null" >
        #{tenantCode,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=INTEGER},
      </if>
      <if test="creatUserCode != null" >
        #{creatUserCode,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zssq.dao.pojo.UserMsgNotice" >
    update user_msg_notice
    <set >
      <if test="noticeCode != null" >
        notice_code = #{noticeCode,jdbcType=VARCHAR},
      </if>
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=BIGINT},
      </if>
      <if test="isDelete != null" >
        is_delete = #{isDelete,jdbcType=INTEGER},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="userCode != null" >
        user_code = #{userCode,jdbcType=VARCHAR},
      </if>
      <if test="orgCode != null" >
        org_code = #{orgCode,jdbcType=VARCHAR},
      </if>
      <if test="tenantCode != null" >
        tenant_code = #{tenantCode,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="creatUserCode != null" >
        creat_user_code = #{creatUserCode,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zssq.dao.pojo.UserMsgNotice" >
    update user_msg_notice
    set notice_code = #{noticeCode,jdbcType=VARCHAR},
      title = #{title,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=BIGINT},
      is_delete = #{isDelete,jdbcType=INTEGER},
      content = #{content,jdbcType=VARCHAR},
      user_code = #{userCode,jdbcType=VARCHAR},
      org_code = #{orgCode,jdbcType=VARCHAR},
      tenant_code = #{tenantCode,jdbcType=VARCHAR},
      type = #{type,jdbcType=INTEGER},
      creat_user_code = #{creatUserCode,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  
  
      <!-- 分页查询  -->
   <select id="selectPage" resultMap="BaseResultMap" parameterType="com.zssq.model.MessageNoticeListModel" >
    select 
    <include refid="Base_Column_List" />
    from user_msg_notice
    where 1 = 1
   <if test="userCode != null">
      and  user_code = #{userCode,jdbcType=VARCHAR}
   	</if>
   	  and  is_delete=0
   	  	ORDER BY create_time desc
   	  
    <if test="pageNo != null and pageSize >=0" >
      limit #{pageNo} , #{pageSize}
    </if>  
  </select>
  
  <!-- 总条数 -->
   <select id="selectCount" resultType="int" parameterType="com.zssq.model.MessageNoticeListModel" >
   select count(1)
   from user_msg_notice
   where 1 = 1
     <if test="userCode != null">
       and  user_code = #{userCode,jdbcType=VARCHAR}
   </if>
   
   and  is_delete=0
  
  </select>
  
  
  <!--  获取消息详情 -->
   <select id="getNoticeInfo" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from user_msg_notice
    where 1 = 1
   	and  is_delete=0 and notice_code=#{msgCode}
  </select>
  
  
  <!-- 删除消息通知 -->
  <update id="delNotice" parameterType="java.lang.String" >
    update user_msg_notice
    set 
      is_delete = 1
    where notice_code=#{msgCode}
  </update>
  
  
  
  
     <!-- 批量插入 -->
  <insert id="saveNoticeList"  parameterType="com.zssq.dao.pojo.UserMsgNotice" >  
    insert into user_msg_notice ( notice_code, title, 
      create_time, is_delete, content, 
      user_code, org_code, tenant_code, 
      type, creat_user_code)
	    values<foreach collection="list" item="item" index="index" separator="," >  
		(
		  #{item.noticeCode,jdbcType=VARCHAR}, #{item.title,jdbcType=VARCHAR}, 
	      #{item.createTime,jdbcType=BIGINT}, #{item.isDelete,jdbcType=INTEGER}, #{item.content,jdbcType=VARCHAR}, 
	      #{item.userCode,jdbcType=VARCHAR}, #{item.orgCode,jdbcType=VARCHAR}, #{item.tenantCode,jdbcType=VARCHAR}, 
	      #{item.type,jdbcType=INTEGER}, #{item.creatUserCode,jdbcType=VARCHAR}
	    )
	    </foreach>  
 </insert>
   
 
 
 
  
</mapper>