<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zssq.dao.mapper.HonorDefinitionMapper" >
  <resultMap id="BaseResultMap" type="com.zssq.dao.pojo.HonorDefinition" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="honor_definition_code" property="honorDefinitionCode" jdbcType="VARCHAR" />
    <result column="is_disable" property="isDisable" jdbcType="TINYINT" />
    <result column="is_delete" property="isDelete" jdbcType="TINYINT" />
    <result column="tenant_code" property="tenantCode" jdbcType="VARCHAR" />
    <result column="org_code" property="orgCode" jdbcType="VARCHAR" />
    <result column="org_level" property="orgLevel" jdbcType="TINYINT" />
    <result column="create_time" property="createTime" jdbcType="BIGINT" />
    <result column="modify_time" property="modifyTime" jdbcType="BIGINT" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="honor_name" property="honorName" jdbcType="VARCHAR" />
    <result column="honor_type" property="honorType" jdbcType="TINYINT" />
    <result column="honor_url" property="honorUrl" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, honor_definition_code, is_disable, is_delete, tenant_code, org_code, org_level, 
    create_time, modify_time, remark, honor_name, honor_type, honor_url
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.zssq.dao.pojo.HonorDefinitionExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from honor_definition
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limitStart != null and limitStart>=0" >
      limit #{limitStart} , #{limitEnd}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from honor_definition
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from honor_definition
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.zssq.dao.pojo.HonorDefinitionExample" >
    delete from honor_definition
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zssq.dao.pojo.HonorDefinition" >
    insert into honor_definition (id, honor_definition_code, is_disable, 
      is_delete, tenant_code, org_code, 
      org_level, create_time, modify_time, 
      remark, honor_name, honor_type, 
      honor_url)
    values (#{id,jdbcType=BIGINT}, #{honorDefinitionCode,jdbcType=VARCHAR}, #{isDisable,jdbcType=TINYINT}, 
      #{isDelete,jdbcType=TINYINT}, #{tenantCode,jdbcType=VARCHAR}, #{orgCode,jdbcType=VARCHAR}, 
      #{orgLevel,jdbcType=TINYINT}, #{createTime,jdbcType=BIGINT}, #{modifyTime,jdbcType=BIGINT}, 
      #{remark,jdbcType=VARCHAR}, #{honorName,jdbcType=VARCHAR}, #{honorType,jdbcType=TINYINT}, 
      #{honorUrl,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zssq.dao.pojo.HonorDefinition" >
    insert into honor_definition
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="honorDefinitionCode != null" >
        honor_definition_code,
      </if>
      <if test="isDisable != null" >
        is_disable,
      </if>
      <if test="isDelete != null" >
        is_delete,
      </if>
      <if test="tenantCode != null" >
        tenant_code,
      </if>
      <if test="orgCode != null" >
        org_code,
      </if>
      <if test="orgLevel != null" >
        org_level,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="modifyTime != null" >
        modify_time,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="honorName != null" >
        honor_name,
      </if>
      <if test="honorType != null" >
        honor_type,
      </if>
      <if test="honorUrl != null" >
        honor_url,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="honorDefinitionCode != null" >
        #{honorDefinitionCode,jdbcType=VARCHAR},
      </if>
      <if test="isDisable != null" >
        #{isDisable,jdbcType=TINYINT},
      </if>
      <if test="isDelete != null" >
        #{isDelete,jdbcType=TINYINT},
      </if>
      <if test="tenantCode != null" >
        #{tenantCode,jdbcType=VARCHAR},
      </if>
      <if test="orgCode != null" >
        #{orgCode,jdbcType=VARCHAR},
      </if>
      <if test="orgLevel != null" >
        #{orgLevel,jdbcType=TINYINT},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=BIGINT},
      </if>
      <if test="modifyTime != null" >
        #{modifyTime,jdbcType=BIGINT},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="honorName != null" >
        #{honorName,jdbcType=VARCHAR},
      </if>
      <if test="honorType != null" >
        #{honorType,jdbcType=TINYINT},
      </if>
      <if test="honorUrl != null" >
        #{honorUrl,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zssq.dao.pojo.HonorDefinitionExample" resultType="java.lang.Integer" >
    select count(*) from honor_definition
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update honor_definition
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.honorDefinitionCode != null" >
        honor_definition_code = #{record.honorDefinitionCode,jdbcType=VARCHAR},
      </if>
      <if test="record.isDisable != null" >
        is_disable = #{record.isDisable,jdbcType=TINYINT},
      </if>
      <if test="record.isDelete != null" >
        is_delete = #{record.isDelete,jdbcType=TINYINT},
      </if>
      <if test="record.tenantCode != null" >
        tenant_code = #{record.tenantCode,jdbcType=VARCHAR},
      </if>
      <if test="record.orgCode != null" >
        org_code = #{record.orgCode,jdbcType=VARCHAR},
      </if>
      <if test="record.orgLevel != null" >
        org_level = #{record.orgLevel,jdbcType=TINYINT},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=BIGINT},
      </if>
      <if test="record.modifyTime != null" >
        modify_time = #{record.modifyTime,jdbcType=BIGINT},
      </if>
      <if test="record.remark != null" >
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.honorName != null" >
        honor_name = #{record.honorName,jdbcType=VARCHAR},
      </if>
      <if test="record.honorType != null" >
        honor_type = #{record.honorType,jdbcType=TINYINT},
      </if>
      <if test="record.honorUrl != null" >
        honor_url = #{record.honorUrl,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update honor_definition
    set id = #{record.id,jdbcType=BIGINT},
      honor_definition_code = #{record.honorDefinitionCode,jdbcType=VARCHAR},
      is_disable = #{record.isDisable,jdbcType=TINYINT},
      is_delete = #{record.isDelete,jdbcType=TINYINT},
      tenant_code = #{record.tenantCode,jdbcType=VARCHAR},
      org_code = #{record.orgCode,jdbcType=VARCHAR},
      org_level = #{record.orgLevel,jdbcType=TINYINT},
      create_time = #{record.createTime,jdbcType=BIGINT},
      modify_time = #{record.modifyTime,jdbcType=BIGINT},
      remark = #{record.remark,jdbcType=VARCHAR},
      honor_name = #{record.honorName,jdbcType=VARCHAR},
      honor_type = #{record.honorType,jdbcType=TINYINT},
      honor_url = #{record.honorUrl,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.zssq.dao.pojo.HonorDefinition" >
    update honor_definition
    <set >
      <if test="honorDefinitionCode != null" >
        honor_definition_code = #{honorDefinitionCode,jdbcType=VARCHAR},
      </if>
      <if test="isDisable != null" >
        is_disable = #{isDisable,jdbcType=TINYINT},
      </if>
      <if test="isDelete != null" >
        is_delete = #{isDelete,jdbcType=TINYINT},
      </if>
      <if test="tenantCode != null" >
        tenant_code = #{tenantCode,jdbcType=VARCHAR},
      </if>
      <if test="orgCode != null" >
        org_code = #{orgCode,jdbcType=VARCHAR},
      </if>
      <if test="orgLevel != null" >
        org_level = #{orgLevel,jdbcType=TINYINT},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=BIGINT},
      </if>
      <if test="modifyTime != null" >
        modify_time = #{modifyTime,jdbcType=BIGINT},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="honorName != null" >
        honor_name = #{honorName,jdbcType=VARCHAR},
      </if>
      <if test="honorType != null" >
        honor_type = #{honorType,jdbcType=TINYINT},
      </if>
      <if test="honorUrl != null" >
        honor_url = #{honorUrl,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zssq.dao.pojo.HonorDefinition" >
    update honor_definition
    set honor_definition_code = #{honorDefinitionCode,jdbcType=VARCHAR},
      is_disable = #{isDisable,jdbcType=TINYINT},
      is_delete = #{isDelete,jdbcType=TINYINT},
      tenant_code = #{tenantCode,jdbcType=VARCHAR},
      org_code = #{orgCode,jdbcType=VARCHAR},
      org_level = #{orgLevel,jdbcType=TINYINT},
      create_time = #{createTime,jdbcType=BIGINT},
      modify_time = #{modifyTime,jdbcType=BIGINT},
      remark = #{remark,jdbcType=VARCHAR},
      honor_name = #{honorName,jdbcType=VARCHAR},
      honor_type = #{honorType,jdbcType=TINYINT},
      honor_url = #{honorUrl,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>