<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zssq.dao.mapper.ComplaintMonitorInfoMapper" >
  <resultMap id="BaseResultMap" type="com.zssq.dao.pojo.ComplaintMonitorInfo" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="code" property="code" jdbcType="VARCHAR" />
    <result column="is_disable" property="isDisable" jdbcType="TINYINT" />
    <result column="is_delete" property="isDelete" jdbcType="TINYINT" />
    <result column="tenant_code" property="tenantCode" jdbcType="VARCHAR" />
    <result column="org_code" property="orgCode" jdbcType="VARCHAR" />
    <result column="org_level" property="orgLevel" jdbcType="TINYINT" />
    <result column="create_time" property="createTime" jdbcType="BIGINT" />
    <result column="modify_time" property="modifyTime" jdbcType="BIGINT" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="info_code" property="infoCode" jdbcType="VARCHAR" />
    <result column="dynamic_code" property="dynamicCode" jdbcType="VARCHAR" />
    <result column="info_url" property="infoUrl" jdbcType="VARCHAR" />
    <result column="application" property="application" jdbcType="TINYINT" />
    <result column="publisher_code" property="publisherCode" jdbcType="VARCHAR" />
    <result column="publisher_name" property="publisherName" jdbcType="VARCHAR" />
    <result column="publisher_org_code" property="publisherOrgCode" jdbcType="VARCHAR" />
    <result column="publisher_org" property="publisherOrg" jdbcType="VARCHAR" />
    <result column="publish_time" property="publishTime" jdbcType="BIGINT" />
    <result column="handler_code" property="handlerCode" jdbcType="VARCHAR" />
    <result column="handler_name" property="handlerName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, code, is_disable, is_delete, tenant_code, org_code, org_level, create_time, modify_time, 
    remark, info_code, dynamic_code, info_url, application, publisher_code, publisher_name, 
    publisher_org_code, publisher_org, publish_time, handler_code, handler_name
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.zssq.dao.pojo.ComplaintMonitorInfoExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from complaint_monitor_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limitStart != null and limitStart>=0" >
      limit #{limitStart} , #{limitEnd}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from complaint_monitor_info
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from complaint_monitor_info
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.zssq.dao.pojo.ComplaintMonitorInfoExample" >
    delete from complaint_monitor_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zssq.dao.pojo.ComplaintMonitorInfo" >
    insert into complaint_monitor_info (id, code, is_disable, 
      is_delete, tenant_code, org_code, 
      org_level, create_time, modify_time, 
      remark, info_code, dynamic_code, 
      info_url, application, publisher_code, 
      publisher_name, publisher_org_code, publisher_org, 
      publish_time, handler_code, handler_name
      )
    values (#{id,jdbcType=BIGINT}, #{code,jdbcType=VARCHAR}, #{isDisable,jdbcType=TINYINT}, 
      #{isDelete,jdbcType=TINYINT}, #{tenantCode,jdbcType=VARCHAR}, #{orgCode,jdbcType=VARCHAR}, 
      #{orgLevel,jdbcType=TINYINT}, #{createTime,jdbcType=BIGINT}, #{modifyTime,jdbcType=BIGINT}, 
      #{remark,jdbcType=VARCHAR}, #{infoCode,jdbcType=VARCHAR}, #{dynamicCode,jdbcType=VARCHAR}, 
      #{infoUrl,jdbcType=VARCHAR}, #{application,jdbcType=TINYINT}, #{publisherCode,jdbcType=VARCHAR}, 
      #{publisherName,jdbcType=VARCHAR}, #{publisherOrgCode,jdbcType=VARCHAR}, #{publisherOrg,jdbcType=VARCHAR}, 
      #{publishTime,jdbcType=BIGINT}, #{handlerCode,jdbcType=VARCHAR}, #{handlerName,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.zssq.dao.pojo.ComplaintMonitorInfo" >
    insert into complaint_monitor_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="code != null" >
        code,
      </if>
      <if test="isDisable != null" >
        is_disable,
      </if>
      <if test="isDelete != null" >
        is_delete,
      </if>
      <if test="tenantCode != null" >
        tenant_code,
      </if>
      <if test="orgCode != null" >
        org_code,
      </if>
      <if test="orgLevel != null" >
        org_level,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="modifyTime != null" >
        modify_time,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="infoCode != null" >
        info_code,
      </if>
      <if test="dynamicCode != null" >
        dynamic_code,
      </if>
      <if test="infoUrl != null" >
        info_url,
      </if>
      <if test="application != null" >
        application,
      </if>
      <if test="publisherCode != null" >
        publisher_code,
      </if>
      <if test="publisherName != null" >
        publisher_name,
      </if>
      <if test="publisherOrgCode != null" >
        publisher_org_code,
      </if>
      <if test="publisherOrg != null" >
        publisher_org,
      </if>
      <if test="publishTime != null" >
        publish_time,
      </if>
      <if test="handlerCode != null" >
        handler_code,
      </if>
      <if test="handlerName != null" >
        handler_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="code != null" >
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="isDisable != null" >
        #{isDisable,jdbcType=TINYINT},
      </if>
      <if test="isDelete != null" >
        #{isDelete,jdbcType=TINYINT},
      </if>
      <if test="tenantCode != null" >
        #{tenantCode,jdbcType=VARCHAR},
      </if>
      <if test="orgCode != null" >
        #{orgCode,jdbcType=VARCHAR},
      </if>
      <if test="orgLevel != null" >
        #{orgLevel,jdbcType=TINYINT},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=BIGINT},
      </if>
      <if test="modifyTime != null" >
        #{modifyTime,jdbcType=BIGINT},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="infoCode != null" >
        #{infoCode,jdbcType=VARCHAR},
      </if>
      <if test="dynamicCode != null" >
        #{dynamicCode,jdbcType=VARCHAR},
      </if>
      <if test="infoUrl != null" >
        #{infoUrl,jdbcType=VARCHAR},
      </if>
      <if test="application != null" >
        #{application,jdbcType=TINYINT},
      </if>
      <if test="publisherCode != null" >
        #{publisherCode,jdbcType=VARCHAR},
      </if>
      <if test="publisherName != null" >
        #{publisherName,jdbcType=VARCHAR},
      </if>
      <if test="publisherOrgCode != null" >
        #{publisherOrgCode,jdbcType=VARCHAR},
      </if>
      <if test="publisherOrg != null" >
        #{publisherOrg,jdbcType=VARCHAR},
      </if>
      <if test="publishTime != null" >
        #{publishTime,jdbcType=BIGINT},
      </if>
      <if test="handlerCode != null" >
        #{handlerCode,jdbcType=VARCHAR},
      </if>
      <if test="handlerName != null" >
        #{handlerName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zssq.dao.pojo.ComplaintMonitorInfoExample" resultType="java.lang.Integer" >
    select count(*) from complaint_monitor_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update complaint_monitor_info
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.code != null" >
        code = #{record.code,jdbcType=VARCHAR},
      </if>
      <if test="record.isDisable != null" >
        is_disable = #{record.isDisable,jdbcType=TINYINT},
      </if>
      <if test="record.isDelete != null" >
        is_delete = #{record.isDelete,jdbcType=TINYINT},
      </if>
      <if test="record.tenantCode != null" >
        tenant_code = #{record.tenantCode,jdbcType=VARCHAR},
      </if>
      <if test="record.orgCode != null" >
        org_code = #{record.orgCode,jdbcType=VARCHAR},
      </if>
      <if test="record.orgLevel != null" >
        org_level = #{record.orgLevel,jdbcType=TINYINT},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=BIGINT},
      </if>
      <if test="record.modifyTime != null" >
        modify_time = #{record.modifyTime,jdbcType=BIGINT},
      </if>
      <if test="record.remark != null" >
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.infoCode != null" >
        info_code = #{record.infoCode,jdbcType=VARCHAR},
      </if>
      <if test="record.dynamicCode != null" >
        dynamic_code = #{record.dynamicCode,jdbcType=VARCHAR},
      </if>
      <if test="record.infoUrl != null" >
        info_url = #{record.infoUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.application != null" >
        application = #{record.application,jdbcType=TINYINT},
      </if>
      <if test="record.publisherCode != null" >
        publisher_code = #{record.publisherCode,jdbcType=VARCHAR},
      </if>
      <if test="record.publisherName != null" >
        publisher_name = #{record.publisherName,jdbcType=VARCHAR},
      </if>
      <if test="record.publisherOrgCode != null" >
        publisher_org_code = #{record.publisherOrgCode,jdbcType=VARCHAR},
      </if>
      <if test="record.publisherOrg != null" >
        publisher_org = #{record.publisherOrg,jdbcType=VARCHAR},
      </if>
      <if test="record.publishTime != null" >
        publish_time = #{record.publishTime,jdbcType=BIGINT},
      </if>
      <if test="record.handlerCode != null" >
        handler_code = #{record.handlerCode,jdbcType=VARCHAR},
      </if>
      <if test="record.handlerName != null" >
        handler_name = #{record.handlerName,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update complaint_monitor_info
    set id = #{record.id,jdbcType=BIGINT},
      code = #{record.code,jdbcType=VARCHAR},
      is_disable = #{record.isDisable,jdbcType=TINYINT},
      is_delete = #{record.isDelete,jdbcType=TINYINT},
      tenant_code = #{record.tenantCode,jdbcType=VARCHAR},
      org_code = #{record.orgCode,jdbcType=VARCHAR},
      org_level = #{record.orgLevel,jdbcType=TINYINT},
      create_time = #{record.createTime,jdbcType=BIGINT},
      modify_time = #{record.modifyTime,jdbcType=BIGINT},
      remark = #{record.remark,jdbcType=VARCHAR},
      info_code = #{record.infoCode,jdbcType=VARCHAR},
      dynamic_code = #{record.dynamicCode,jdbcType=VARCHAR},
      info_url = #{record.infoUrl,jdbcType=VARCHAR},
      application = #{record.application,jdbcType=TINYINT},
      publisher_code = #{record.publisherCode,jdbcType=VARCHAR},
      publisher_name = #{record.publisherName,jdbcType=VARCHAR},
      publisher_org_code = #{record.publisherOrgCode,jdbcType=VARCHAR},
      publisher_org = #{record.publisherOrg,jdbcType=VARCHAR},
      publish_time = #{record.publishTime,jdbcType=BIGINT},
      handler_code = #{record.handlerCode,jdbcType=VARCHAR},
      handler_name = #{record.handlerName,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.zssq.dao.pojo.ComplaintMonitorInfo" >
    update complaint_monitor_info
    <set >
      <if test="code != null" >
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="isDisable != null" >
        is_disable = #{isDisable,jdbcType=TINYINT},
      </if>
      <if test="isDelete != null" >
        is_delete = #{isDelete,jdbcType=TINYINT},
      </if>
      <if test="tenantCode != null" >
        tenant_code = #{tenantCode,jdbcType=VARCHAR},
      </if>
      <if test="orgCode != null" >
        org_code = #{orgCode,jdbcType=VARCHAR},
      </if>
      <if test="orgLevel != null" >
        org_level = #{orgLevel,jdbcType=TINYINT},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=BIGINT},
      </if>
      <if test="modifyTime != null" >
        modify_time = #{modifyTime,jdbcType=BIGINT},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="infoCode != null" >
        info_code = #{infoCode,jdbcType=VARCHAR},
      </if>
      <if test="dynamicCode != null" >
        dynamic_code = #{dynamicCode,jdbcType=VARCHAR},
      </if>
      <if test="infoUrl != null" >
        info_url = #{infoUrl,jdbcType=VARCHAR},
      </if>
      <if test="application != null" >
        application = #{application,jdbcType=TINYINT},
      </if>
      <if test="publisherCode != null" >
        publisher_code = #{publisherCode,jdbcType=VARCHAR},
      </if>
      <if test="publisherName != null" >
        publisher_name = #{publisherName,jdbcType=VARCHAR},
      </if>
      <if test="publisherOrgCode != null" >
        publisher_org_code = #{publisherOrgCode,jdbcType=VARCHAR},
      </if>
      <if test="publisherOrg != null" >
        publisher_org = #{publisherOrg,jdbcType=VARCHAR},
      </if>
      <if test="publishTime != null" >
        publish_time = #{publishTime,jdbcType=BIGINT},
      </if>
      <if test="handlerCode != null" >
        handler_code = #{handlerCode,jdbcType=VARCHAR},
      </if>
      <if test="handlerName != null" >
        handler_name = #{handlerName,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zssq.dao.pojo.ComplaintMonitorInfo" >
    update complaint_monitor_info
    set code = #{code,jdbcType=VARCHAR},
      is_disable = #{isDisable,jdbcType=TINYINT},
      is_delete = #{isDelete,jdbcType=TINYINT},
      tenant_code = #{tenantCode,jdbcType=VARCHAR},
      org_code = #{orgCode,jdbcType=VARCHAR},
      org_level = #{orgLevel,jdbcType=TINYINT},
      create_time = #{createTime,jdbcType=BIGINT},
      modify_time = #{modifyTime,jdbcType=BIGINT},
      remark = #{remark,jdbcType=VARCHAR},
      info_code = #{infoCode,jdbcType=VARCHAR},
      dynamic_code = #{dynamicCode,jdbcType=VARCHAR},
      info_url = #{infoUrl,jdbcType=VARCHAR},
      application = #{application,jdbcType=TINYINT},
      publisher_code = #{publisherCode,jdbcType=VARCHAR},
      publisher_name = #{publisherName,jdbcType=VARCHAR},
      publisher_org_code = #{publisherOrgCode,jdbcType=VARCHAR},
      publisher_org = #{publisherOrg,jdbcType=VARCHAR},
      publish_time = #{publishTime,jdbcType=BIGINT},
      handler_code = #{handlerCode,jdbcType=VARCHAR},
      handler_name = #{handlerName,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>