<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zssq.dao.mapper.BlogDraftContentMapper">

	<resultMap id="BaseResultMap" type="com.zssq.dao.pojo.BlogDraftContent">
		<id column="id" jdbcType="BIGINT" property="id" />
		<result column="draft_content_code" jdbcType="VARCHAR" property="draftContentCode" />
		<result column="tenant_code" jdbcType="VARCHAR" property="tenantCode" />
		<result column="org_code" jdbcType="VARCHAR" property="orgCode" />
		<result column="create_time" jdbcType="BIGINT" property="createTime" />
		<result column="modify_time" jdbcType="BIGINT" property="modifyTime" />
		<result column="remark" jdbcType="VARCHAR" property="remark" />
		<result column="draft_code" jdbcType="VARCHAR" property="draftCode" />
		<result column="draft_content_info" jdbcType="LONGVARCHAR" property="draftContentInfo" />
	</resultMap>
	
	<!-- 列列表 -->
	<sql id="Base_Column_List">
		id, draft_content_code, tenant_code, org_code, create_time, modify_time,
		remark, draft_code, draft_content_info
	</sql>
	
	<!-- 插入 -->
	<insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="com.zssq.dao.pojo.BlogDraftContent">
		INSERT INTO blog_draft_content (
			draft_content_code, 
			tenant_code,
			org_code, 
			create_time,
			modify_time, 
			remark, 
			draft_code,
			draft_content_info
		) VALUES (
			#{draftContentCode,jdbcType=VARCHAR},
			#{tenantCode,jdbcType=VARCHAR},
			#{orgCode,jdbcType=VARCHAR}, 
			#{createTime,jdbcType=BIGINT},
			#{modifyTime,jdbcType=BIGINT}, 
			#{remark,jdbcType=VARCHAR},
			#{draftCode,jdbcType=VARCHAR},
			#{draftContentInfo,jdbcType=LONGVARCHAR}
		)
	</insert>
	
	<!-- 更新 -->
	<update id="update" parameterType="map">
		UPDATE blog_draft_content SET
			modify_time = #{modifyTime,jdbcType=BIGINT},
			draft_content_info = #{draftContentInfo,jdbcType=LONGVARCHAR}
		WHERE draft_code = #{draftCode,jdbcType=VARCHAR}
	</update>
	
	<!-- 删除 -->
	<delete id="delete" parameterType="string">
		DELETE FROM blog_draft_content
		WHERE draft_code = #{draftCode,jdbcType=VARCHAR}
	</delete>
	
</mapper>