<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zssq.dao.mapper.ForumCommentReplyMapper" >
  <resultMap id="BaseResultMap" type="com.zssq.dao.pojo.ForumCommentReply" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="forum_comment_reply_code" property="forumCommentReplyCode" jdbcType="VARCHAR" />
    <result column="is_disable" property="isDisable" jdbcType="TINYINT" />
    <result column="is_hide" property="isHide" jdbcType="TINYINT" />
    <result column="is_delete" property="isDelete" jdbcType="TINYINT" />
    <result column="tenant_code" property="tenantCode" jdbcType="VARCHAR" />
    <result column="org_code" property="orgCode" jdbcType="VARCHAR" />
    <result column="org_level" property="orgLevel" jdbcType="TINYINT" />
    <result column="create_time" property="createTime" jdbcType="BIGINT" />
    <result column="modify_time" property="modifyTime" jdbcType="BIGINT" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="replier_code" property="replierCode" jdbcType="VARCHAR" />
    <result column="questioner_code" property="questionerCode" jdbcType="VARCHAR" />
    <result column="topic_code" property="topicCode" jdbcType="VARCHAR" />
    <result column="topic_follow_code" property="topicFollowCode" jdbcType="VARCHAR" />
    <result column="comment_code" property="commentCode" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.zssq.dao.pojo.ForumCommentReply" extends="BaseResultMap" >
    <result column="content" property="content" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, forum_comment_reply_code, is_disable, is_hide, is_delete, tenant_code, org_code, 
    org_level, create_time, modify_time, remark, replier_code, questioner_code, topic_code, 
    topic_follow_code, comment_code
  </sql>
  <sql id="Blob_Column_List" >
    content
  </sql>
  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="com.zssq.dao.pojo.ForumCommentReplyExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from forum_comment_reply
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
     <if test="limitStart != null and limitStart>=0" >
      limit #{limitStart} , #{limitEnd}
    </if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.zssq.dao.pojo.ForumCommentReplyExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from forum_comment_reply
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limitStart != null and limitStart>=0" >
      limit #{limitStart} , #{limitEnd}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from forum_comment_reply
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from forum_comment_reply
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.zssq.dao.pojo.ForumCommentReplyExample" >
    delete from forum_comment_reply
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zssq.dao.pojo.ForumCommentReply" >
    insert into forum_comment_reply (id, forum_comment_reply_code, is_disable, 
      is_hide, is_delete, tenant_code, 
      org_code, org_level, create_time, 
      modify_time, remark, replier_code, 
      questioner_code, topic_code, topic_follow_code, 
      comment_code, content)
    values (#{id,jdbcType=BIGINT}, #{forumCommentReplyCode,jdbcType=VARCHAR}, #{isDisable,jdbcType=TINYINT}, 
      #{isHide,jdbcType=TINYINT}, #{isDelete,jdbcType=TINYINT}, #{tenantCode,jdbcType=VARCHAR}, 
      #{orgCode,jdbcType=VARCHAR}, #{orgLevel,jdbcType=TINYINT}, #{createTime,jdbcType=BIGINT}, 
      #{modifyTime,jdbcType=BIGINT}, #{remark,jdbcType=VARCHAR}, #{replierCode,jdbcType=VARCHAR}, 
      #{questionerCode,jdbcType=VARCHAR}, #{topicCode,jdbcType=VARCHAR}, #{topicFollowCode,jdbcType=VARCHAR}, 
      #{commentCode,jdbcType=VARCHAR}, #{content,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zssq.dao.pojo.ForumCommentReply" >
    insert into forum_comment_reply
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="forumCommentReplyCode != null" >
        forum_comment_reply_code,
      </if>
      <if test="isDisable != null" >
        is_disable,
      </if>
      <if test="isHide != null" >
        is_hide,
      </if>
      <if test="isDelete != null" >
        is_delete,
      </if>
      <if test="tenantCode != null" >
        tenant_code,
      </if>
      <if test="orgCode != null" >
        org_code,
      </if>
      <if test="orgLevel != null" >
        org_level,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="modifyTime != null" >
        modify_time,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="replierCode != null" >
        replier_code,
      </if>
      <if test="questionerCode != null" >
        questioner_code,
      </if>
      <if test="topicCode != null" >
        topic_code,
      </if>
      <if test="topicFollowCode != null" >
        topic_follow_code,
      </if>
      <if test="commentCode != null" >
        comment_code,
      </if>
      <if test="content != null" >
        content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="forumCommentReplyCode != null" >
        #{forumCommentReplyCode,jdbcType=VARCHAR},
      </if>
      <if test="isDisable != null" >
        #{isDisable,jdbcType=TINYINT},
      </if>
      <if test="isHide != null" >
        #{isHide,jdbcType=TINYINT},
      </if>
      <if test="isDelete != null" >
        #{isDelete,jdbcType=TINYINT},
      </if>
      <if test="tenantCode != null" >
        #{tenantCode,jdbcType=VARCHAR},
      </if>
      <if test="orgCode != null" >
        #{orgCode,jdbcType=VARCHAR},
      </if>
      <if test="orgLevel != null" >
        #{orgLevel,jdbcType=TINYINT},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=BIGINT},
      </if>
      <if test="modifyTime != null" >
        #{modifyTime,jdbcType=BIGINT},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="replierCode != null" >
        #{replierCode,jdbcType=VARCHAR},
      </if>
      <if test="questionerCode != null" >
        #{questionerCode,jdbcType=VARCHAR},
      </if>
      <if test="topicCode != null" >
        #{topicCode,jdbcType=VARCHAR},
      </if>
      <if test="topicFollowCode != null" >
        #{topicFollowCode,jdbcType=VARCHAR},
      </if>
      <if test="commentCode != null" >
        #{commentCode,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        #{content,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zssq.dao.pojo.ForumCommentReplyExample" resultType="java.lang.Integer" >
    select count(*) from forum_comment_reply
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update forum_comment_reply
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.forumCommentReplyCode != null" >
        forum_comment_reply_code = #{record.forumCommentReplyCode,jdbcType=VARCHAR},
      </if>
      <if test="record.isDisable != null" >
        is_disable = #{record.isDisable,jdbcType=TINYINT},
      </if>
      <if test="record.isHide != null" >
        is_hide = #{record.isHide,jdbcType=TINYINT},
      </if>
      <if test="record.isDelete != null" >
        is_delete = #{record.isDelete,jdbcType=TINYINT},
      </if>
      <if test="record.tenantCode != null" >
        tenant_code = #{record.tenantCode,jdbcType=VARCHAR},
      </if>
      <if test="record.orgCode != null" >
        org_code = #{record.orgCode,jdbcType=VARCHAR},
      </if>
      <if test="record.orgLevel != null" >
        org_level = #{record.orgLevel,jdbcType=TINYINT},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=BIGINT},
      </if>
      <if test="record.modifyTime != null" >
        modify_time = #{record.modifyTime,jdbcType=BIGINT},
      </if>
      <if test="record.remark != null" >
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.replierCode != null" >
        replier_code = #{record.replierCode,jdbcType=VARCHAR},
      </if>
      <if test="record.questionerCode != null" >
        questioner_code = #{record.questionerCode,jdbcType=VARCHAR},
      </if>
      <if test="record.topicCode != null" >
        topic_code = #{record.topicCode,jdbcType=VARCHAR},
      </if>
      <if test="record.topicFollowCode != null" >
        topic_follow_code = #{record.topicFollowCode,jdbcType=VARCHAR},
      </if>
      <if test="record.commentCode != null" >
        comment_code = #{record.commentCode,jdbcType=VARCHAR},
      </if>
      <if test="record.content != null" >
        content = #{record.content,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map" >
    update forum_comment_reply
    set id = #{record.id,jdbcType=BIGINT},
      forum_comment_reply_code = #{record.forumCommentReplyCode,jdbcType=VARCHAR},
      is_disable = #{record.isDisable,jdbcType=TINYINT},
      is_hide = #{record.isHide,jdbcType=TINYINT},
      is_delete = #{record.isDelete,jdbcType=TINYINT},
      tenant_code = #{record.tenantCode,jdbcType=VARCHAR},
      org_code = #{record.orgCode,jdbcType=VARCHAR},
      org_level = #{record.orgLevel,jdbcType=TINYINT},
      create_time = #{record.createTime,jdbcType=BIGINT},
      modify_time = #{record.modifyTime,jdbcType=BIGINT},
      remark = #{record.remark,jdbcType=VARCHAR},
      replier_code = #{record.replierCode,jdbcType=VARCHAR},
      questioner_code = #{record.questionerCode,jdbcType=VARCHAR},
      topic_code = #{record.topicCode,jdbcType=VARCHAR},
      topic_follow_code = #{record.topicFollowCode,jdbcType=VARCHAR},
      comment_code = #{record.commentCode,jdbcType=VARCHAR},
      content = #{record.content,jdbcType=LONGVARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update forum_comment_reply
    set id = #{record.id,jdbcType=BIGINT},
      forum_comment_reply_code = #{record.forumCommentReplyCode,jdbcType=VARCHAR},
      is_disable = #{record.isDisable,jdbcType=TINYINT},
      is_hide = #{record.isHide,jdbcType=TINYINT},
      is_delete = #{record.isDelete,jdbcType=TINYINT},
      tenant_code = #{record.tenantCode,jdbcType=VARCHAR},
      org_code = #{record.orgCode,jdbcType=VARCHAR},
      org_level = #{record.orgLevel,jdbcType=TINYINT},
      create_time = #{record.createTime,jdbcType=BIGINT},
      modify_time = #{record.modifyTime,jdbcType=BIGINT},
      remark = #{record.remark,jdbcType=VARCHAR},
      replier_code = #{record.replierCode,jdbcType=VARCHAR},
      questioner_code = #{record.questionerCode,jdbcType=VARCHAR},
      topic_code = #{record.topicCode,jdbcType=VARCHAR},
      topic_follow_code = #{record.topicFollowCode,jdbcType=VARCHAR},
      comment_code = #{record.commentCode,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.zssq.dao.pojo.ForumCommentReply" >
    update forum_comment_reply
    <set >
      <if test="forumCommentReplyCode != null" >
        forum_comment_reply_code = #{forumCommentReplyCode,jdbcType=VARCHAR},
      </if>
      <if test="isDisable != null" >
        is_disable = #{isDisable,jdbcType=TINYINT},
      </if>
      <if test="isHide != null" >
        is_hide = #{isHide,jdbcType=TINYINT},
      </if>
      <if test="isDelete != null" >
        is_delete = #{isDelete,jdbcType=TINYINT},
      </if>
      <if test="tenantCode != null" >
        tenant_code = #{tenantCode,jdbcType=VARCHAR},
      </if>
      <if test="orgCode != null" >
        org_code = #{orgCode,jdbcType=VARCHAR},
      </if>
      <if test="orgLevel != null" >
        org_level = #{orgLevel,jdbcType=TINYINT},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=BIGINT},
      </if>
      <if test="modifyTime != null" >
        modify_time = #{modifyTime,jdbcType=BIGINT},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="replierCode != null" >
        replier_code = #{replierCode,jdbcType=VARCHAR},
      </if>
      <if test="questionerCode != null" >
        questioner_code = #{questionerCode,jdbcType=VARCHAR},
      </if>
      <if test="topicCode != null" >
        topic_code = #{topicCode,jdbcType=VARCHAR},
      </if>
      <if test="topicFollowCode != null" >
        topic_follow_code = #{topicFollowCode,jdbcType=VARCHAR},
      </if>
      <if test="commentCode != null" >
        comment_code = #{commentCode,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.zssq.dao.pojo.ForumCommentReply" >
    update forum_comment_reply
    set forum_comment_reply_code = #{forumCommentReplyCode,jdbcType=VARCHAR},
      is_disable = #{isDisable,jdbcType=TINYINT},
      is_hide = #{isHide,jdbcType=TINYINT},
      is_delete = #{isDelete,jdbcType=TINYINT},
      tenant_code = #{tenantCode,jdbcType=VARCHAR},
      org_code = #{orgCode,jdbcType=VARCHAR},
      org_level = #{orgLevel,jdbcType=TINYINT},
      create_time = #{createTime,jdbcType=BIGINT},
      modify_time = #{modifyTime,jdbcType=BIGINT},
      remark = #{remark,jdbcType=VARCHAR},
      replier_code = #{replierCode,jdbcType=VARCHAR},
      questioner_code = #{questionerCode,jdbcType=VARCHAR},
      topic_code = #{topicCode,jdbcType=VARCHAR},
      topic_follow_code = #{topicFollowCode,jdbcType=VARCHAR},
      comment_code = #{commentCode,jdbcType=VARCHAR},
      content = #{content,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zssq.dao.pojo.ForumCommentReply" >
    update forum_comment_reply
    set forum_comment_reply_code = #{forumCommentReplyCode,jdbcType=VARCHAR},
      is_disable = #{isDisable,jdbcType=TINYINT},
      is_hide = #{isHide,jdbcType=TINYINT},
      is_delete = #{isDelete,jdbcType=TINYINT},
      tenant_code = #{tenantCode,jdbcType=VARCHAR},
      org_code = #{orgCode,jdbcType=VARCHAR},
      org_level = #{orgLevel,jdbcType=TINYINT},
      create_time = #{createTime,jdbcType=BIGINT},
      modify_time = #{modifyTime,jdbcType=BIGINT},
      remark = #{remark,jdbcType=VARCHAR},
      replier_code = #{replierCode,jdbcType=VARCHAR},
      questioner_code = #{questionerCode,jdbcType=VARCHAR},
      topic_code = #{topicCode,jdbcType=VARCHAR},
      topic_follow_code = #{topicFollowCode,jdbcType=VARCHAR},
      comment_code = #{commentCode,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  
  <!-- 获取举报评论/回复所在行号 -->
  <select id="getComplaintReplyRownum" parameterType="com.zssq.dao.pojo.ForumCommentReply" resultType="java.lang.Integer">
  	select tt.rownum  from (
		select (@mypro := @mypro + 1) as rownum,t.* from (
			select * from forum_comment_reply 
			where is_delete = 0 and is_disable = 0
			and tenant_code = #{tenantCode} and topic_code = #{topicCode} 
			and topic_follow_code = #{topicFollowCode}
		) t,(select (@mypro :=0)) b
	)tt where forum_comment_reply_code = #{forumCommentReplyCode}
  </select>
  
  <!-- 加载更多的方式分页查询 -->
  <select id="queryByPageWithLoadMore" parameterType="com.zssq.dao.pojo.ForumCommentReply" resultMap="ResultMapWithBLOBs">
  	SELECT 
	  <include refid="Base_Column_List" />
      ,
	  <include refid="Blob_Column_List" /> 
	FROM
	  forum_comment_reply 
	WHERE tenant_code = #{tenantCode} 
	  AND topic_code = #{topicCode} 
	  AND topic_follow_code = #{topicFollowCode}
	  AND is_delete = 0 
	  AND is_disable = 0 
      <if test="id != null and id > 0">
	    <![CDATA[AND id < #{id,jdbcType=BIGINT}]]>
      </if>
	ORDER BY id DESC 
	LIMIT #{pageSize}
  </select>
</mapper>